.env
modularized/.env
.idea/
__pycache__/
.venv/
/modularized/venv/
/*.sqlite
static/faces
static/incompliances
yolo_models
database
/modularized/web/static/faces/
/modularized/web/static/incompliances/
/modularized/users.sqlite
/modularized/*.log
/modularized/datasets/one_bottle/