{% extends 'base.html' %}
{% block title %}Detection Search - LabComply+{% endblock %}
{% block content %}

    <h2 class="mb-2">Detection Search</h2>
    {% if lab_name and camera_name %}
        <div class="alert alert-info">
            Lab: <strong>{{ lab_name }}</strong><br>
            Viewing camera: <strong>{{ camera_name }}</strong>
        </div>
    {% elif lab_name %}
        <div class="alert alert-warning">
            Selected Lab: <strong>{{ lab_name }}</strong>
        </div>
    {% endif %}


    <form method="post" class="mb-4">
        <div class="row g-3 align-items-end mb-2">
            <div class="col-md-4">
                <label for="date" class="form-label">Date Time:</label>
                <input type="date"
                    class="form-control rounded-pill filter-disable"
                    name="date"
                    id="date"
                    value="{{ selected_date }}">
            </div>
            <div class="col-md-4">
                <label for="object_type" class="form-label">In-Compliance Type:</label>
                <select name="object_type" class="form-select rounded-pill filter-disable">
                    <option value="">Select Type</option>
                    {% for class_id, label in all_labels.items() %}
                        <option value="{{ class_id }}" {% if selected_object_type == class_id|string %}selected{% endif %}>
                            {{ label }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="person_id" class="form-label">Person ID:</label>
                <select name="person_id" id="person_id" class="form-select rounded-pill filter-disable">
                    <option value="">Select Person</option>
                    {% for pid in all_person_ids %}
                        <option value="{{ pid }}" {% if selected_person_id == pid|string %}selected{% endif %}>
                            Person {{ pid }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row g-3 align-items-end">
            <div class="col-md-4">
                <label for="recent_incompliance_only" class="form-label">Latest Repeated Incompliances:</label>
                <div class="form-switch mb-2">
                    <input class="form-check-input" type="checkbox" name="recent_incompliance_only" id="recent_incompliance_only"
                        {% if recent_incompliance_only %}checked{% endif %}>
                    <label class="form-check-label ms-2" for="recent_incompliance_only">
                        Show Only Repeated
                    </label>
                </div>
                <button type="submit" class="btn btn-dark rounded-pill px-4 mt-2 w-auto">Search</button>
            </div>
        </div>
    </form>

    {% if results %}
        <h4 class="mb-3">Results:</h4>
        <div class="row">
            {% for row in results %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename=row[3].replace('static/', '')) }}"
                             class="card-img-top snapshot-img"
                             alt="Snapshot"
                             style="cursor: pointer;"
                             data-label="{{ row[1] }}"
                             data-confidence="{{ row[2] }}"
                             data-date="{{ row[0] }}"
                        >
                        <div class="card-body">
                            <p class="card-text mb-1"><strong>Person ID:</strong> {{ row[4] }}</p>
                            {% if recent_incompliance_only %}
                                <p class="card-text mb-1"><strong>Incompliance Count:</strong> {{ row[5] }}</p>
                            {% endif %}
                            <h6 class="card-title">
                                {{ row[1] }}
                                <small class="text-muted">
                                    (Confidence: {{ row[2] }})
                                </small>
                            </h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {# Image Modal #}
    {# Used for enlarging the image #}
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <img src="" id="modalImage" class="img-fluid w-100 mb-2" alt="Enlarged Snapshot">
                    <div class="p-3">
                        <h5 id="modalLabel"></h5>
                        <p class="mb-1 text-muted" id="modalConfidence"></p>
                        <p class="mb-0 text-muted" id="modalDate"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {# JavaScript #}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const images = document.querySelectorAll('.snapshot-img');

            images.forEach(img => {
                img.addEventListener('click', function () {
                    // Populate the image source
                    const modalImg = document.getElementById("modalImage");
                    // Should not be null
                    console.log(document.getElementById("modalImage"));

                    // Check if element exists before using it.
                    if (!modalImg) {
                        console.error("Modal image element not found.")
                        return;
                    }

                    modalImg.src = this.src;

                    // Populate the metadata
                    const label = this.dataset.label;
                    const confidence = this.dataset.confidence;
                    const date = this.dataset.date;

                    document.getElementById("modalLabel").textContent = label || "Unknown";
                    document.getElementById("modalConfidence").textContent = `Confidence: ${confidence || 'N/A'}`;
                    document.getElementById("modalDate").textContent = `Detected: ${date || 'N/A'}`;

                    // Show the modal.
                    const modal = new bootstrap.Modal(document.getElementById("imageModal"));
                    modal.show();
                })
            });
        })

        document.addEventListener("DOMContentLoaded", function () {
            const repeatedCheckbox = document.getElementById('recent_incompliance_only');
            const filterInputs = document.querySelectorAll('.filter-disable');

            function toggleFilters() {
                const disable = repeatedCheckbox.checked;
                filterInputs.forEach(input => {
                    input.disabled = disable;
                });
            }

            // Initial state
            toggleFilters();

            // Listen for changes
            repeatedCheckbox.addEventListener('change', toggleFilters);
        });
    </script>
{% endblock %}